@{
    ViewData["Title"] = "Logged Out";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Logged Out
        </h1>
        <p class="govuk-body">You have been logged out of this service.</p>
    </div>
</div>